root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

[*.{py,yml,yaml,md,json,toml}]
indent_style = space
indent_size = 2

[*.{c,cpp,h,hpp,cu}]
indent_style = space
indent_size = 4

[{Makefile,makefile,*.mk}]
indent_style = tab
tab_width = 2
